<div id="updatedAlert" class="alert alert-success hide">
  Location updated
</div>

<div id="createdAlert" class="alert alert-success hide">
  Location created
</div>

<div class="page-header">
  <h1><%= @tour.title %></h1>
</div>

<%= @request %>

<div class="row-fluid">
  <div class="span5">
    <ul class="breadcrumb">
      <li><%= link_to 'Home', root_path %><span class="divider">/</span></li>
      <li><%= link_to 'Tour', edit_tour_path(@tour.id) %> <span class="divider">/</span></li>
      <li class="active">Create itinerary</li>
    </ul>
    <div id="action-form">
      <%= render partial: 'locations/form' %>
    </div>
  </div>
  <div class="span7">
    <div id="location-status"></div>
    <%= gmaps(
          :map_options => { :container_class => "map_container", :id => "map_canvas", :provider_key => ENV["GOOGLE_KEY"],
          :center_latitude => @current_location['lat'], :center_longitude => @current_location['lng'] },
          :markers => { :data => @markers, :options => { :rich_marker => true } },
          :polylines => { :data => @polylines }
    ) %>
  </div>
</div>

<hr />

<div id="tour_locations_box">
  <table class="table table-striped table-bordered" id="tour_locations_list">
    <thead>
      <tr>
        <th>Itinerary</th>
        <th style="width:50px"></th>
      </tr>
    </thead>
    <tbody data-update-url="<%= sort_tour_locations_path(@tour.id) %>">
      <%= render @locations %>
    </tbody>
  </table>
</div>

<%= link_to 'Preview your itinerary', @tour, class: 'btn' %>

<div class="modal hide fade" id="location-select">
  <div class="modal-header">
    <h3>Choose location</h3>
  </div>
  <div class="modal-body" id="location-select-option">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Cancel</button>
    <button class="btn btn-primary" id="save-location-select">Save</button>
  </div>
</div>