<div class="row-fluid">
  <div class="span4">
    <%= form_for(@location, url: tour_locations_path, remote: true) do |f| %>
      <% if @location.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>
          <ul>
          <% @location.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.hidden_field :latitude %>
      <%= f.hidden_field :longitude %>
      <div class="control-group">
        <%#= f.label :title, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :title, :class => 'text_field', placeholder: 'Title' %>
        </div>
      </div>
      <div class="control-group">
        <%#= f.label :description, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :description, :class => 'text_field', rows: 6, placeholder: 'Description' %>
        </div>
      </div>
    <% end %>
    <%= render 'place/form' %>
    <%= button_tag(:type => 'button', class: 'btn btn-info', id: 'addLocationToTourItenerary') do %>
      <%= content_tag(:strong, 'Add location to tour itenerary') %>
    <% end %>
  </div>
  <div class="span8">
    <div id="location-status"></div>
    <%= gmaps(
          :map_options => { :container_class => "map_container", :id => "map_canvas", :provider_key => ENV["GOOGLE_KEY"],
          :center_latitude => @current_location['lat'], :center_longitude => @current_location['lng'] },
          :markers => { :data => @markers, :options => { :rich_marker => true } },
          :polylines => { :data => @polylines }
    ) %>
  </div>
</div>
<div class="modal hide fade" id="location-select">
  <div class="modal-header">
    <h3>Choose location</h3>
  </div>
  <div class="modal-body" id="location-select-option">

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" id="save-location-select">Save</button>
  </div>
</div>