<h1>Tour locations</h1>

<ul class="breadcrumb">
  <li><%= link_to 'Home', root_path %><span class="divider">/</span></li>
  <li><%= link_to 'Tour', tours_path %> <span class="divider">/</span></li>
  <li class="active">Create itinerary</li>
</ul>

<div class="row-fluid">
  <div class="span4" id="action-form">
    <%= render 'form' %>
  </div>
  <div class="span8">
    <div id="location-status"></div>
    <%= gmaps(
          :map_options => { :container_class => "map_container", :id => "map_canvas", :provider_key => ENV["GOOGLE_KEY"],
          :center_latitude => @current_location['lat'], :center_longitude => @current_location['lng'] },
          :markers => { :data => @markers, :options => { :rich_marker => true } },
          :polylines => { :data => @polylines }
    ) %>
  </div>
</div>

<%= link_to 'Back', tours_path %>

<div class="row">
  <div class="span8">
    <div id="tour_locations_box">
      <h1>Locations</h1>

      <table class="table table-striped" id="tour_locations_list">
        <thead>
          <tr>
            <th>№</th>
            <th>Itinerary</th>
          </tr>
        </thead>
        <tbody data-update-url="<%= sort_tour_locations_path(params[:tour_id]) %>">
          <%= render @locations %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal hide fade" id="location-select">
  <div class="modal-header">
    <h3>Choose location</h3>
  </div>
  <div class="modal-body" id="location-select-option">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Cancel</button>
    <button class="btn btn-primary" id="save-location-select">Save</button>
  </div>
</div>